body {
    background-color: #0a0a0a;
    color: #00ffff;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 2px rgba(88, 208, 248, 0.6);
}